// body {
//   // height: 100vh;
//   margin: 0;
//   // background: #000;
//   position: relative;
// }

#treeBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.outlinesFil {
  animation: fill 3s ease-in-out forwards;
  transform-origin: bottom top;
  background: transparent; // Start with a transparent background
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  // 50% {
  //   fill: #c2a11f;
  // }
  100% {
    opacity: 1;
  }
}
// #innerEye,
// #eyeBottomDotes,
// #eyeTopDotes {
//   animation: fill 3s ease-in-out forwards;
//   transform-origin: bottom top;
//   background: transparent; // Start with a transparent background
// }

.movingLeaves {
  animation: moveDownAndUp 5s linear infinite;
  transform-origin: 0% 0%; // bottom center
}

@keyframes moveDownAndUp {
  50% {
    transform: translate(10px, 5px);
  }
}

.test {
  opacity: 0;
}
.opacityGrowing {
  animation: opacityGrowing 3s ease-in-out;
  transform-origin: 50% 50%; // bottom center
  transform-box: fill-box;
}
@keyframes opacityGrowing {
  0% {
    // fill: #19ef64;
    opacity: 0;
    transform: scale(0);
  }
  // 50% {
  //   fill: #c2a11f;
  // }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes shiftColor {
  0% {
    // fill: #19ef64;
    opacity: 0;
    transform: scale(0);
  }
  // 50% {
  //   fill: #c2a11f;
  // }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    fill: #efaf19;
  }
}
