body {
  // height: 100vh;
  margin: 0;
  // background: #000;
  position: relative;
}

#treeBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#outlines {
  animation: fill 5s ease-in-out forwards;
  transform-origin: bottom top;
  background: transparent; // Start with a transparent background
}

@keyframes fill {
  0% {
    fill: #702e0d12;
  }
  100% {
    fill: #702e0d;
  }
}
#innerEye,
#eyeBottomDotes,
#eyeTopDotes {
  animation: fill 3s ease-in-out forwards, opacity 6s ease-in-out;
  transform-origin: bottom top;
}

#innerLeftLeaves path,
#rightInnerLeaves path,
#outerLeaves path {
  animation: opacity 8s ease-in-out,
    moveDownAndUp 6s ease-in-out infinite reverse;
  transform-origin: bottom top;
}

@keyframes fill {
  0% {
    fill: #702e0d12;
  }
  100% {
    fill: #702e0d;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveDownAndUp {
  50% {
    transform: translateY(-20px);
    transform: translateX(10px);
  }
}
